@{
    ViewData["Title"] = "User Pages";
}

<div class="text-center">
    <h1 class="display-4">User Pages</h1>

</div>


@*@foreach (Page page in Model.Pages)
{
    <div>
        @page.Title
    </div>
}*@
