@model UserPagesViewModel
@{
    ViewData["Title"] = "User Pages";
}

<div class="text-center">
    <h1 class="display-4">User Pages</h1>

</div>


<ul>
    @for (int i = 0; i < Model.Pages.Count; i++)
    {
        <li>
            Title: @Model.Pages[i].Title
            <br/>
            @for (int j = 0; j < Model.Pages[i].PageContent.Count; j++)
            {
               <nobr>Content @j.ToString():</nobr> @Model.Pages[i].PageContent[j].ToHtml()
               <br/>
            }
        </li>
     }
</ul>