<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/c74af7af-f267-4f6e-84df-54202fce0e4a/resourceGroups/DefaultResourceGroup-CUS/providers/Microsoft.Web/sites/kateryna-shylovska-a5</ResourceId>
    <ResourceGroup>DefaultResourceGroup-CUS</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <PublishUrl>https://kateryna-shylovska-a5.scm.azurewebsites.net/</PublishUrl>
    <SiteUrlToLaunchAfterPublish>https://kateryna-shylovska-a5.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <UserName>$kateryna-shylovska-a5</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>